/* Move down content because we have a fixed navbar that is 50px tall */

body {
	background-color: #f5f5f5;
	padding-bottom: 115px;

}

iframe {
	display: block;
	margin: auto;
}

ul.nav, .jumbotron h1 {
	font-family: 'Roboto', sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul.nav {
	font-size: 13px;
	font-weight: bold;
}

#blueridge {
	font-size: 18pt;
}

#news-break {
	width: 160px
}

#news {
	background-color: #f5f5f5
}

#ap {
	font-size: 14pt;
}

#upcoming {
	margin-bottom: 13px;
}

#news-head-1 {
    font-size: 27px;
}

#news-head-2 {
    font-size: 27px;
}

#upcoming-list {
	margin-top: 0px
}

#home-row{
	margin-bottom: 85px;
}

#HSLN {
		font-size: 15pt;
}

#HSLNV {
    font-size: 12pt;
}

#chesterfield {
	font-size: 11pt;
}

#levitate {
	font-size: 16pt;
}

#marshfield {
	font-size: 13pt;
}

.upcoming {
	font-size: 18pt;
}

.jumbotron {
	text-align: center;
	/*background-image: url('../images/adam.jpg');
	background-size: 100% 100%;*/
	/*background-image: url('../images/hero_image.jpg');*/
	/*background-image: url('../images/coverPhoto.jpg');*/
	background-image: url('../images/adamBand.jpeg');
	background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    margin-bottom: 0px;
    height: 600px;
}

.btn-lg {
	font-size: 26px;
}

.jumbotron h1{
	margin-top: 200px;
	margin-bottom: 300px;
	color: white;
}

.jtAbout {
	text-align: center;
	/*background-image: url('../images/adam.jpg');
	background-size: 100% 100%;*/
	/*background-image: url('../images/hero_image.jpg');*/
	/*background-image: url('../images/coverPhoto.jpg');*/
	background-image: url('../images/alt-cover-shrank.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    margin-bottom: 0px;
    height: 600px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px
}

.homepage h2{
	margin-top: 20px;
	color: #e74c3c;
	font-weight: bold;
	font-family: 'Arvo', serif;
}

.homepage h2, p {
	text-align: center;
}

.news-item {
	padding-left: 30px;
    padding-right: 30px;
}

#news-item-top .btn {
	margin-bottom: 10px
}

#peach {
	font-size: 19pt;s
}

/*Media Queries*/
@media (max-width: 990px) {
	#news-item-bottom, #news-item-top {
	    margin-top: 35px;
	    margin-bottom: 50px;
	}
}
@media (max-width: 768px) {
	hr {
		width: 160px
	}
  .footer {
   height: 222px;
  }

}

@media  (min-width: 768px) {
	#phb {
		font-size: 18pt;
	}

	#phb-venue {
		font-size: 12pt;
	}

	#lawn {
			font-size: 9pt;
	}
	#st-aug {
			font-size: 11pt;
	}
}

@media (max-width: 414px) {
	hr {
		width: 160px
	}
  .footer{
   height: 223px;
  }

	#scamp {
		font-size: 15pt;
	}

	#blueridge {
		font-size: 15pt;
	}

}

@media (max-width: 385px)
{

}
