/*
 * Globals
 */

 /* iframe {
   margin: 20px;
 } */

 /* #levitatestream {
   max-width: 100%;
 } */

 .img-responsive {
   max-height: 650px;
 }

.center-block {
  margin-top: 15px;
  margin-bottom: 45px;
}

 iframe, object, embed {
   margin: 20px;
    max-width: 100%;
}

 img {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);s
 }

 h2, h3 {
  margin-top: 30px;
  margin-bottom: 30px;
 }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.links a {
  margin: 10px;
}

.btn:hover {
  background-color: #212121;
  color: #fff;
}


.lead {
  /* margin-top: 100px; */
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}


body {
  /* background-color: #545454; */
  text-align: center;
  background-image: url("../images/testbg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

label {
  color: white;
}

h1, h2, h3, p {
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.container {
  /* margin-top: 20px; */
  /* margin-top: 10px; */
}

@media (max-width: 380px) {
  .container {
    margin-top: 10px;
  }

  .center-block {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  h2 {
    padding-right: 18px;
    padding-left: 18px;
  }
}
