/*
 * Globals
 */

 /* iframe {
   margin: 20px;
 } */

 /* #levitatestream {
   max-width: 100%;
 } */

 iframe, object, embed {
   margin: 20px;
    max-width: 100%;
}

 img {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);s
 }

 h2, h3 {
   margin-top: 10px;
  margin-bottom: 10px;
 }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.links a {
  margin: 10px;
}

.btn:hover {
  background-color: #212121;
  color: #fff;
}


.lead {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: #545454;
  text-align: center;
}

label {
  color: white;
}

h1, h2, p {
  color: white;
}

.container {
  /* margin-top: 20px; */
  margin-top: 10px;
}

@media (max-width: 380px) {
  .container {
    margin-top: 10px;
  }
}
