html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 50px;
  padding-bottom: 0px;

}


footer{
 background-color: #f74c3c;
 padding-top: 1px;
 padding-bottom: 0px;
 line-height: 16px;
 height: 123px;
}

footer p {
	margin-bottom: 0px;
	text-align: center;
}

footer .container {

	color: inherit;
	text-align: center;
}

footer .container a {
	color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 131px; /* Set the fixed height of the footer here */
  line-height: 16px; /* Vertically center the text there */
  /*background-color: transparent;*/
  /*text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;*/
  /*color: white;*/
  /*font-size: small;*/
}

footer > p > a {
  color: #337ab7;
}

.footer > .container > p > a {
  color: #337ab7;
}


hr {
	width: 600px
}

.navbar-brand {
	padding: 2px;
}

.navbar-brand img {
	padding-top: 3px;
}

#days {
  font-size: 30pt;
}



@media (max-width: 767px) {
	hr {
		width: 160px
	}
  footer{
   height: 150px;
  }
}

@media (max-width: 414px) {
	hr {
		width: 160px
	}
  footer{
   height: 166px;
  }
}
