html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 50px;
  padding-bottom: 0px;

}


footer{
 background-color: #f74c3c;
 padding-top: 1px;
 padding-bottom: 0px;
 line-height: 16px;
 height: 123px;
}

footer p {
	margin-bottom: 0px;
	text-align: center;
}

footer .container {

	color: inherit;
	text-align: center;
}

footer .container a {
	color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 131px; /* Set the fixed height of the footer here */
  line-height: 16px; /* Vertically center the text there */
  /*background-color: transparent;*/
  /*text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;*/
  /*color: white;*/
  /*font-size: small;*/
}

footer > p > a {
  color: #337ab7;
}

.footer > .container > p > a {
  color: #337ab7;
}


hr {
	width: 600px
}

.navbar-brand {
	padding: 2px;
}

.navbar-brand img {
	padding-top: 3px;
}

#days {
  font-size: 30pt;
}

#overlay {
    position: fixed;
    display: block;
    width: 55%;
    height: 58%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    margin: auto;
    border-radius: 25px;
    color: white;
    text-align: center;
    /* padding: 20px; */
}

#overlay h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#overlay-content h1, label {
  font-weight: bolder;
}

#overlay img {
  margin-top: 50px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
	hr {
		width: 160px
	}
  footer{
   height: 150px;
  }

  #overlay {
      position: fixed;
      display: block;
      width: 86%;
      height: 78%;
      top: 0;
      left: 0;
      right: 0;
      /* bottom: 0; */
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
      /* padding: 20px; */
  }

  #overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 414px) {
	hr {
		width: 160px
	}
  footer{
   height: 166px;
  }

  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 82%;
      top: 0;
      left: 0;
      right: 0;
      /* bottom: 0; */
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
      /* padding: 20px; */
  }

  #overlay img {
    padding: 20px;
    margin-top: 15px;
    padding-bottom: 0px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
  }

  #overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 81%;
      top: 0;
      left: 0;
      right: 0;
      /* bottom: 0; */
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
      /* padding: 20px; */
  }

  #overlay img {
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }

  #overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 1024px) {
  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 90%;
      top: 55px;
      left: 0;
      right: 0;
      /* bottom: 0; */
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
      /* padding: 20px; */
  }

  #overlay img {
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }

  #overlay p {
    margin-top: 10px;
  }
}
