html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 50px;
  padding-bottom: 0px;
  overflow: auto;
  -webkit-overflow-scroll: touch;
}


footer{
 background-color: #f74c3c;
 padding-top: 1px;
 padding-bottom: 0px;
 line-height: 16px;
 height: 182px;
}

footer p {
	margin-bottom: 0px;
	text-align: center;
}

footer .container {
	color: inherit;
	text-align: center;
  width: 100%;

}

footer .container a {
	color: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 188px; /* Set the fixed height of the footer here */
  line-height: 16px; /* Vertically center the text there */
  /*background-color: transparent;*/
  /*text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;*/
  /*color: white;*/
  /*font-size: small;*/
}

footer > p > a {
  color: #337ab7;
}

.footer > .container > p > a {
  color: #337ab7;
}


hr {
	width: 600px
}

.navbar-brand {
	padding: 2px;
}

.navbar-brand img {
	padding-top: 3px;
}

.videoWrapper {
  position: relative;
  /* padding-bottom: 56.25%; */
  /* padding-top: 35px; */
  /* height: 0; */
  /* overflow: hidden; */
}

.videoWrapper iframe {
/* position: absolute; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* height: auto; */
}

.fall-tour {
  max-width: 500px;
  height: auto;
}

#days {
  font-size: 30pt;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    margin: auto;
    /* border-radius: 25px; */
    color: white;
    text-align: center;
    padding-top: 50px;


}

.overlay.overlay-content {
  height: 100%;
  overflow: scroll;
}

.overlay h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.overlay a {
  color: white;
}

.overlay p {
  margin-top: 10px;
}



.overlay-content h1, label {
  font-weight: bolder;
}

.overlay img {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.overlay i {
  float: right;
  margin-right: 25px
}

.overlay h3 {
  font-size: 20px;
  text-decoration: underline;
}

.background-content{
   height: 100%;
   overflow: auto;
   }

#HSLNH {
  font-size: 15pt
}


#HSLNVH {
    font-size: 12pt
}

#HSH {
  font-size: 19pt;
}

#HSVH {
  font-size: 12pt;
}


@media (max-width: 768px) {
	hr {
		width: 160px
	}
  footer{
   height: 150px;
  }

  /* #overlay {
      position: fixed;
      display: block;
      width: 86%;
      height: 67%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  } */

  .overlay p {
    margin-top: 10px;
  }

  .overlay i {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .overlay img {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0px 10px 0px 10px;
  }
}

@media (max-width: 414px) {
	hr {
		width: 160px
	}
  footer{
   height: 150px;
  }

  /* #overlay {
      position: fixed;
      display: block;
      width: 86%;
      height: 67%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  } */

  .overlay p {
    margin-top: 10px;
  }

  .overlay i {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .overlay img {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0px 10px 0px 10px;
  }

  .overlay-content h1, label {
    font-weight: bolder;
    font-size: 25px;
  }
}



/* @media (min-width: 1200px) {
  #overlay {
      position: fixed;
      display: block;
      width: 35%;
      height: 56%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
      padding: 20px;
  }

  #overlay img {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 55%;
    height: auto;
  }

  #overlay h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
  }
} */

/* @media (max-width: 1024px) {
  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 85%;
      top: 55px;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  }

  #overlay img {
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }

  #overlay p {
    margin-top: 10px;
  }

  #overlay i {
    float: right;
    margin-right: 15px;
    padding-top: 10px;
  }
}



@media (max-width: 768px) {
	hr {
		width: 160px
	}
  footer{
   height: 150px;
  }

  #overlay {
      position: fixed;
      display: block;
      width: 86%;
      height: 67%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  }

  #overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 414px) {
	hr {
		width: 160px
	}
  footer{
   height: 166px;
  }

  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 80%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  }

  #overlay img {
    padding: 10px 20px 0px 20px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
  }

  #overlay p {
    margin-top: 10px;
  }

  #HSLNH {
    font-size: 13pt
  }

  #HSLNVH {
      font-size: 11pt
  }
}

@media (max-width: 375px) {
  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 80%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  }

  #overlay img {
    padding: 10px 20px 0px 20px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }

  #overlay p {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  #overlay {
      position: fixed;
      display: block;
      width: 85%;
      height: 80%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 2;
      cursor: pointer;
      margin: auto;
      border-radius: 25px;
      color: white;
      text-align: center;
  }

  #overlay img {
    padding: 10px 20px 0px 20px;
  }

  #overlay h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
  }

  #overlay p {
    margin-top: 10px;
  }
} */
