/* Move down content because we have a fixed navbar that is 50px tall */


ul.nav, .jumbotron h1 {
	font-family: 'Roboto', sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul.nav {
	font-size: 13px;
	font-weight: bold;
}

#news-break {
	width: 160px
}

#news {
	background-color: #f5f5f5
}

#upcoming {
	margin-bottom: 13px;
}

#news-head-1 {
    font-size: 27px;
}

#upcoming-list {
	margin-top: 0px
}

.jumbotron {
	text-align: center;
	/*background-image: url('../images/adam.jpg');
	background-size: 100% 100%;*/
	/*background-image: url('../images/hero_image.jpg');*/
	/*background-image: url('../images/coverPhoto.jpg');*/
	background-image: url('../images/alt-cov-shrank.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    margin-bottom: 0px;
    height: 600px;
}

.btn-lg {
	font-size: 26px;
}

.jumbotron h1{
	margin-top: 200px;
	margin-bottom: 300px;
	color: white;
}

.jtAbout {
	text-align: center;
	/*background-image: url('../images/adam.jpg');
	background-size: 100% 100%;*/
	/*background-image: url('../images/hero_image.jpg');*/
	/*background-image: url('../images/coverPhoto.jpg');*/
	background-image: url('../images/alt-cover-shrank.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    margin-bottom: 0px;
    height: 600px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px
}

.tour-dates h2{
	margin-top: 20px;
	color: #e74c3c; 
	font-weight: bold;
	font-family: 'Arvo', serif;
}

.tour-dates h2, p {
	text-align: center;
}

.news-item {
	padding-left: 30px;
    padding-right: 30px;
}


hr {
	width: 600px
}

/*.event-list h2 {
	text-align: left
}*/

.event-list p, .event-list h2 {
	text-align: left
}

