body {
  padding-top: 50px;
  padding-bottom: 75px;

}

.footer {
	    height: 115px;
}

#title {
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.col-md-6 h2{
	text-align: center;
    color: #e74c3c;
    /*font-weight: bold;*/
    font-family: 'Arvo', serif;
}

.row
{
	margin-top: 20px;
}

iframe, object, embed {
    max-width: 100%;
}

.videos {
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    #shoes {
        font-size: 29px;
    }
}
