#title {
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.col-md-6 h2{
	text-align: center;
    color: #e74c3c;
    /*font-weight: bold;*/
    font-family: 'Arvo', serif;
}

.row
{
	margin-top: 20px;
}

iframe, object, embed {
    max-width: 100%;
}